<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anil Kumar Reddy</title>
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1515674744565-0d7112cd179a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <h1>Hello World!</h1>
<!--    Curly braces are used as templating language(Jinja)-->
    <h2>{{ 5 * 6 }}</h2>
    <h3> Random Number: {{num}} </h3>
    <a href="{{ url_for('blog') }}">Go to Blog</a>
    <h3>For Guessing the age & nationality of a person based on 'Name', add -> 'guess/name' in the url.</h3>
<footer>
    <p>Copyright {{year}}. Built by Anil at the App Brewery course.</p>
</footer>
</body>
</html>