<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Anil</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Anil.</h1>
      <h2>a <span class="pro">pro</span>grammar.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/anil.jpg" alt="anil-profile-img" style="border-radius:50%">
      <h2>Hello.</h2>
      <p class="intro">I am Programmer & Web Developer. I ❤️ coffee and brew my own beers.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 16 years old because I was curios on how computers and internet works. Over time, I have gained a wealth of exploring programming, web development, and solving problems.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/adventuresports.jpg" alt="chillies-img">

        <h3>Adventure Sports/ Travelling</h3>
        <p>But my personal life interest are in adventure sports such as Skiing & Mountaineering and travelling. Always anxious about what adventure lies ahead. </p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love hot wings as much as I do.</h3>
      <p class="contact-message">Love hot wings as much as I do? Let's talk about how awesome they are! We can code while we eat hot wings!</p>
      <a class="btn" href="mailto:n.anilkumar7896@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/anilnakr7/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/yu_angela">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>
  </div>
</body>

</html>
