<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body style="background-image: url('https://images.unsplash.com/photo-1548890126-91461beb4bf1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <h1>Welcome to the Cafe & Wifi API</h1>
    <ul>
        <li><h3>Add 'all' to the url to access the data of all the cafes as JSON data.</h3></li>
        <li><h3>Add 'random' to the url to access a single cafe data as JSON data.</h3></li>
        <li><h3>Add eg: 'http://127.0.0.1:5000/search?loc=Peckham' to the url to access the data of the cafe as JSON data.</h3></li>
    </ul>
</body>
</html>